body {
  align-items: center;
  background: #111;
  display: flex;
  font-family: 'source code pro';
  font-size: 20px;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

#gameBoard,
#text {
  border: 0;
}

#text {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#text.--visible {
  display: block;
}

#text.--visible + #gameBoard {
  opacity: .5;
}

#queue {
  align-self: flex-start;
  display: grid;
  grid-gap: 24px;
  left: 100%;;
  margin-left: 12px;
  position: absolute;
}

.wrapper {
  display: flex;
  position: relative;
}
