body {
  align-items: center;
  background: var(--color-0);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'sans serif';
  font-size: 16px;
  justify-content: center;
  letter-spacing: 0.5px;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  padding: 32px;
}

#footer {
  color: var(--color-1);
  font-size: 12px;
  margin: 16px;
  text-align: center;
  white-space: pre-line;
}

#gameBoard,
#queue,
#text {
  border-radius: 2px;
}

#gameBoard,
#queue {
  background: var(--color-3);
  padding: 4px;
}

#gameBoard {
  border-radius: 2px;
  border: 1px solid black;
}

#screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#text {
  background: var(--color-0);
  box-shadow: 0 2px 2px 1px var(--color-2);
  color: var(--color-3);
  display: none;
  left: 50%;
  padding: 8px 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  z-index: 1;
}

#text.--visible {
  display: block;
}

#queue {
  align-self: flex-start;
  display: grid;
  grid-gap: 12px;
  left: 100%;;
  margin-left: 12px;
  position: absolute;
}

.wrapper {
  display: flex;
  position: relative;
}

@media (max-width: 480px) {
  footer {
    font-size: 12px;
  }

  #queue,
  #text {
    display: none !important;
  }
}
